@import "tailwindcss";

@layer base{
    /* Base */
    body{
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
    }
    button {
        @apply cursor-pointer;
    }
}

@layer components{
    /* Components */
    .rating-stars {
        @apply h-screen flex items-center justify-center bg-blue-950;
    }
    .accordion{
        @apply w-screen h-screen flex bg-blue-200 font-semibold text-xl;

        .accordion-card-header {
            @apply flex flex-row gap-8 justify-between;
        }

        .accordion-card {
            @apply border border-gray-400 rounded border-solid p-9 bg-gray-500 text-white;
        }

        .compressed-card{
            @apply hidden;
        }

        .showed-card {
            @apply block;
        }
    }
    .random-color{
        @apply w-screen h-screen flex flex-col items-center justify-center gap-10;
        button{
            background-color: rgb(34,30,104);
            @apply text-white m-5 p-7 rounded-lg text-xl font-semibold;
        }
        h1{
            @apply text-7xl font-bold;
            color: rgb(34,30,104);
        }
        p{
            @apply text-9xl font-extrabold;
        }
    }

    .animated-text {
        .bg-gradient {
            background-image: linear-gradient(90deg, #e19d69, #ee0979, #3ba5c9, #ffde00);
            background-size: 300% 300%;
        }

        .animate-gradient {
            animation: gradientMove 5s infinite linear;
        }
    }



}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}